*

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    background: #FBFBFB;
}
.Mountain
{
    background: url("../images/Website\ Xxxtentacion\ –\ 4.svg") fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}
.Welcome
{
    font-size: 1.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.Team
{
    text-align: center;
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 150px;
    background-image: url("../images/background-paper-1.svg");
    background-size: cover;
}

.Contact
{
    background: rgb(116, 114, 114);
    display: block;
    text-align: center;
}
.Contact img
{
    max-width: 80%;
    padding-top: 25px;
    padding-bottom: 150px;
}

.Team h1
{
    font-size: 6em;
    padding-bottom: 10px;
    color: #5b5a5c;
}
.Team h2
{
    color: rgb(32, 32, 32);
    font-size: 3em;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.website-xxxtentacion-1 .sky {
  height: 3115px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 649px;
  width: 2993px;
}
.ourGroup, .WelAlign, .Start
{
    display: flex;
    flex-wrap: wrap;
}
.ourGroup div
{
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}
.WelAlign div, .Start div
{
    margin: 0 auto;
    align-self: center;
}
.WelAlign div object
{
    max-width: 120%;
    max-height: auto;
}
.ourGroup div p
{
    font-size: 1.5em;
    margin-top: -20px;
    height: 110px;
}
.ourGroup div h1
{
    font-size: 2.5em;
    margin-top: -10px;
}
.ourGroup div img
{
    width: 150px;
    height: auto;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.ourGroup div img:hover
{
    width: 165px;
    border-radius: 25%;
    transition-duration: 0.3s;
}
.classic
{
    display: inline-block;
    border: solid 5px;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1.25em;
    transition: 0.3s;
}
.classic:hover
{
    background-color: white;
    color:#5b5a5c;
    border: solid 5px white;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
}
p, h1
{
    color: rgb(34, 34, 34);
}
.Mountain h2
{
    color: rgb(180, 50, 40);
    font-size: 6em;
}
.Mountain a
{
    font-size: 4em;
    margin-bottom: 250px;
}
.Mountain img
{
    display: flex;
    margin: 0px auto;
    width: 100%;
    height: auto;
    transform: translateY(10%);
}
.Welcome h1
{
    font-size: 3em;
}
.Welcome p
{
    font-size: 0.9em;
}
.wLeft
{
    max-width: 40%;
    margin: 0 auto;
    align-self: center;
    flex: 1;
}
.wRight
{
    max-width: 60%;
    margin: 0 auto;
    align-self: center;
    flex: 1;
}
.wRight p
{
    max-width: 60%;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 300;
    color: #5b5a5c;
}
.vague1
{
    position: relative;
    width: 100%;
    transform: translateY(87%);
}
.vague2
{
    position: relative;
    width: 100%;
    transform: translateY(-10%);
}
.discover, .begin
{
    display: inline-block;
    border: solid 5px;
    text-decoration: none;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    transition: 0.3s;
}
.discover:hover, .begin:hover
{
    background-color: white;
    color:#59565c;
    border: solid 5px white;
    transition: 0.3s;
    padding-left: 70px;
    padding-right: 70px;
}
.topnav
{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #b9babd;
    overflow: hidden;
    color: rgb(65, 65, 65);
}
/* Style the links inside the navigation bar */
.topnav a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;;
}
/* Change the color of links on hover */
.topnav a:hover
{
background-color: white;
color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active
{
background-color:goldenrod;
color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon
{
display: none;
}
.interactive
{
    display: inline-block;
    border: solid 5px;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(126, 49, 36);
    font-size: 1.25em;
    transition: 0.3s;
}
.interactive:hover
{
    background-color: gold;
    color:#545257;
    border: solid 5px gold;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
}

.Start
{
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

/* Explication Section */
.Explication{
    display: flex;
}

.Explication .sLeft{
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.Explication .sLeft h1{
    font-size: 8em;
    text-align: center;
    font-family: 'Playflair Display', serif;
    color: #fff;
}

.Explication .sRight{
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

/* Biograhy section */

.blackPaper{
    width: 120vw;
    position: absolute;
    z-index: 0;
    left: -10vw;
}

.biography{
    margin-top: -40vh;
    min-height: 100vh;
    position: relative;
   min-width: 100vw;
}

.biography .contentOverlay{
    z-index: 1;
    width: 100vw;
    position: absolute;
    padding-top: 50px;
}

.biography .contentOverlay h1{
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.biography .contentOverlay .row{
    display: flex;
    width: 100%;
}

.biography .contentOverlay .row .column{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
}
.biography .contentOverlay .row .column p{
    font-size: 1.5em;
    color: white;
}

.biography .contentOverlay .row .column .one{
    height: 400px;
}

/* Project Info Section */

.paperProject{
    width: 120vw;
    position: absolute;
    z-index: 0;
    left: -10vw;
}

.projectInfo{
    margin-top: 30vh;
   height: 170vh;
    position: relative;
   overflow: hidden;
}

.projectInfo .contentOverlay{
    z-index: 1;
    width: 100vw;
    position: absolute;
    padding-top: 30vh;
}

.projectInfo .contentOverlay h1{
    font-size: 10em;
    text-align: center;
    font-family: 'Playflair Display', serif;
    color: #2e2e2e;
}

.projectInfo .contentOverlay .row{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
}

.projectInfo .contentOverlay .row p{
    font-size: 1.5em;
    color: #2e2e2e;
}

